services:
  - type: web
    name: eterna-backend
    runtime: docker
    plan: free
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: REDIS_URL
        sync: false
      - key: PORT
        value: 3000
    region: oregon
    branch: main

